* {
    user-select: none !important;
    /*font-family: 'Cabin', sans-serif;*/
    font-family: 'Prompt', sans-serif;
    text-decoration: none !important;
}

button:focus {
    box-shadow: none !important;
}

.btn:focus {
    box-shadow: none !important;
    outline: none !important;
}
input[type=search]:focus {
    box-shadow: none !important;
    outline: none !important;
}
#result {
   transition: 0.9s;
}
.blocito {
    padding-right: 3rem;
}
/*Blog*/
.blog-large .blog-img {
    width: 300px !important;
    height: 150px !important;
}

.blog-mini .blog-img {
    display: flex;
    min-width: 100px !important;
    height: 50px !important;
}

.bb-title {
    color: #00C564 !important;
}

.bb-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 2px;
    background-color: #238c2a5f;
}

.bb-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 1px;
    background-color: #238c2a5f;
}

.float-mas {
    transition: 0.6s;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #238c2ad6;
    color: #fff;
    font-weight: 600;
}

.float-mas:hover {
    background-color: #fff !important;
    color: #238c2ad6 !important;
    transform: translateX(10px) !important;
}

/*LOADING PAGE*/
.loader-page {
    position: fixed;
    z-index: 25000;
    background: rgb(255, 255, 255);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.loader-page::before {
    content: "";
    position: absolute;
    border: 2px solid #974C7E;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
}

@keyframes rotarload {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loader-page::after {
    content: "";
    position: absolute;
    border: 2px solid #974C7E;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s ease-out infinite;
    transform: rotate(0deg);
}


/*Navbar*/
.logo {
    height: 50px;
}
.logo-fisi{
    height: 50px;
}


.error {
    font-style: italic;
    font-size: 10px;
    color: #f6ce07 !important;
}

.navbar-mobile {
    width: 100%;
}

.navbar-mobile .nav {
    width: 100%;
    justify-content: center;
}

/*Slider*/
.slider {
    background-color: #fff;
    height: 450px;
    overflow: hidden;
}

.slider h1 {
    font-size: 44px;
}

.slider p {
    font-size: 20px;
}

/*** Service ***/
.contact-item {
    cursor: pointer;
    background: #f1f1f1;
    transition: .5s;
}

.contact-item a {
    font-weight: 400;
    color: #8d8d8d !important;
}

.contact-item a i {
    color: #3b3b3b !important;
}

.service-item {
    transition: 1s;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    position: relative;
    height: 100%;
    background-color: #fff;
    padding-left: 55px;

}

.service-item:hover {
    transform: scale(1.1);

}

.service-item .float-item {
    position: absolute;
    top: -10px;
    left: -20px;
    width: 80px;
    height: 80px;
    color: #974C7E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    animation: borderSpin 5s linear infinite;
}


@keyframes borderSpin {
    0% {
        border: 5px solid #974c7e19;
    }

    50% {
        border: 5px solid #974c7eb0;
    }

    100% {
        border: 5px solid #974c7e19;
    }
}

.float-div {
    position: absolute;
    width: 55%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    background-position: center;
    background-size: cover;

}

.float-div.fd-1 {
    top: 0;
    left: 0;
    border-top-left-radius: 100px;
    border-left: 20px solid #974C7E;
}

.float-div.fd-2 {
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 100px;
    border-right: 20px solid #974C7E;


}

/*Contact*/
.form-control.contact-input {
    font-size: 15px;
    color: #eeebeb !important;
    padding-left: 0;
    background-color: #b46298 !important;
    border: 0 !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #f5f5f576 !important;
}

.form-control.contact-input:focus {
    box-shadow: none !important;
    border-bottom: 1px solid #fff !important;

}

.form-control.contact-input::placeholder {
    color: #f5f5f576;
}

.form-control.contact-textarea {

    border-radius: 0 !important;
}

.form-control.contact-textarea:focus {
    box-shadow: none !important;
}

.form-control.contact-textarea::placeholder {
    color: #d2d2d2;
}


/*Contact*/
.base-contact {
    background-color: #b46298;
    overflow: hidden;
}

.base-image-contact {
    position: relative;
}



.float-contact {
    position: absolute;
    top: 16%;
    left: 27%;
}

.float-contact button {
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    background-color: transparent;
    border: 0 !important;
    color: #974c7e;
    animation: buttonContact 6s linear infinite;


}

.image-contact {
    opacity: 0.9;
    width: 100%;
    transform: translateY(25px);
    animation: imageContact 6s linear infinite;
}

@keyframes imageContact {
    0% {
        transform: translateY(25px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(25px);
    }
}

@keyframes buttonContact {
    0% {
        transform: translateY(8px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(8px);
    }
}

/*Courses*/
.title-end-courses {
    position: relative;
    text-align: right;
}

.title-end-courses::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 85%;
    height: 2px;
    background-color: #974c7e;
}

.title-start-courses {
    position: relative;
    text-align: left;
}

.title-start-courses::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 85%;
    height: 2px;
    background-color: #974c7e;
}

.course-item {
    transition: 0.2s;
    border: 2px solid transparent;

}

.course-item:hover {
    border: 2px solid #974c7e !important;
}

/*About*/
.about {
    position: relative;
}

.about:hover>.float-about {
    background-color: #b46298;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.about-photo {
    transition: 0.2s;
    border: 2px solid transparent;
    background-position: center;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.float-about-name {
    color: #ffff;
    transition: 0.2s;
    position: absolute;
    background-color: #13131388;
    padding: 5px;
    left: 10%;
    right: 10%;
    bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}

.float-about-link {
    transition: 0.2s;
    position: absolute;
    background-color: #974c7e;
    padding: 5px;
    left: 30%;
    right: 30%;
    bottom: -50px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.float-about-link a {
    color: #974c7e;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 2px;
}

/*Footer*/
.socializate {
    background-color: #fff;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.footer {
    background-color: #974c7e;
    width: 100%;
    padding: 10px;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
}